
* {
    font-family: Arial, Helvetica, sans-serif;
}


img.logo {
    height: 120px !important
}

.profile-card, .course-card {
    width: 250px !important;
    background: #38b6ff;
    border-radius: 5px
}

.icon i {
    font-size:40px;
    color: #164966
}

.dashboard-container {
    background: #b7c9e2;
}

.infotech-img {
    height: 90px
}


/* Dashboard Styles */
.dashboard-navbar {
    background: #38b6ff !important;
}

.dashboard-icon i {
    font-size: 30px !important;
    color: #164966
}

.profile-info-left, .profile-info-right-top, .profile-info-right-bottom  {
    border-radius: 5px
}

.profile-body {
    background: #b7c9e2;
}

input.profile-info-right-input {
    border: none;
    border-bottom: 2px solid black;
    width: 50px !important
}

.profile-edit-btn,.profile-edit-btn:hover  {
    background: #38b6ff !important;
    border:none;
    color: black !important
}
